.checkoutSteps{
    display: "flex" !important;
    flex-flow: "row nowrap" !important;
    justify-content: "space-between" !important;
    width: 100%;
}
.checkoutSteps span{
    border-top: 2px solid #ebebeb;
    color: #b1b1b1;
    padding: 10px;
}

.checkoutSteps span.active{
    border-top: 2px solid #e7ab3c;
    color: #e7ab3c;
}

